html, body {
}

.header {
  height: 9vh;
  text-align: center;
}

.header .image-netsPay-logo {
  width: 35vw;
  margin-top: 15px;
}

.header .image-add-icon {
  position: absolute;
  width: 7vw;
  right: 17.5px;
  margin-top: 17.5px;
}

.body {
  height: 70vh;
}

.body .cards {
  color: blue;
  margin-left: 4vw;
}

.body .image-ocbc-card {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100vw;
}

.body .camera-window {
  width: 100vw;
  height: auto;
}

.footer {
  position: relative;
  height: 10vh;
  width: 100vw;
}

.footer .image-footer-bar {
  width: 100%;
}

.footer .container-button {
  position: absolute;
  text-align: center;
  top: 7.5vh;
  width: 100vw;
  opacity: 0;
}

.footer .container-button .button-invisible {
  width: 30vw;
  height: 12vh;
}