html, body {
  position: fixed;
  height: 100%;
  min-width: 100%;
  overflow: visible;
}

.header {
  height: 9vh;
  text-align: center;
}

.header .image-netsPay-logo {
  width: 35vw;
  margin-top: 15px;
}

.header .image-add-icon {
  position: absolute;
  width: 7vw;
  right: 17.5px;
  margin-top: 17.5px;
}

.body {
  height: 70vh;
}

.body .cards {
  color: darkblue;
  margin-left: 4vw;
}

.body .image-ocbc-card {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 80vw;
}

.body .image-nfc {
  position: absolute;
  top: 45vh;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 40vw;
}

.body .camera-window {
  width: 100vw;
  height: 82.5vh;
  object-fit: fill;
}

.footer {
  position: relative;
  height: 10vh;
  width: 100vw;
}

.footer .image-footer-bar {
  width: 100%;
}

.container-button {
  position: absolute;
  text-align: center;
  top: 85vh;
  width: 100vw;
  opacity: 0;
  z-index: 50;
}

.container-button .button-invisible {
  width: 30vw;
  height: 12vh;
}

.background-fade {
  position: absolute;
  top: 15vh;
  height: 100%;
  width: 100%;
  background-color: #333;
  opacity: 0.5;
  z-index: 5;
}

.transaction-details {
  position: absolute;
  background-color: #fff;
  text-align: center;
  bottom: -70%;
  width: 100%;
  height: 70%;
  z-index: 10;
}

.image-merchant {
  margin-top: 2.5%;
  width: 20vw;
}

.text-merchant {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 20px;
}

.text-title {
  margin-top: 0px;
  font-size: 18px;
}

.text-amount {
  color: crimson;
}

.input-amount {
  position: relative;
  width: 40vw;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  color: transparent;
}

.display-amount {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 25px;
  font-weight: 700;
  z-index: 500;
}

.modal-content {
  position: absolute;
  top: 5vh;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 90vw;
  height: 85vh;
  border-radius: 15px;
  text-align: center;
}

.image-approved {
  position: relative;
  top: 10%;
  width: 20vw;
}

.text-approved {
  color: limegreen;
  margin-top: 15px;
  font-size: 18px;
}

.text-transaction {
  margin-top: 65px;
  margin-bottom: 0px;
  font-size: 30px;
  color: cornflowerblue;
}

.text-amt {
  margin-top: 0px;
  margin-bottom: 65px;
  font-size: 15px;
}

table {
  width: 100%;
  border: none;
}

td {
  font-size: 18px;
  padding: 3px;
}

.table-left {
  text-align: left;
}

.table-right { 
  text-align: right;
}

.orange-line {
  background: orange;
  border-radius: 2px;
  width: 100%;
  height: 10px;  
}

.btn-close {
  position: fixed;
  font-size: 20px;
  font-weight: 500;
  left: 50%;
  bottom: 2%;
  transform: translate(-50%, 0%);
  width: 90%;
  color: cornflowerblue;
}

.animation-loader {
  position: absolute;
  top: 30vh;
  left: 50%;
  transform: translate(-50%, 0%);
}

.discount-field {
  position: absolute;
  color: crimson;
  margin-top: 45px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.add_another {
  position: absolute;
  left: 72%;
  top: 57.5%;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.add_another img {
  width: 25px;
  height: 25px;
}
