html, body {
  position: fixed;
  height: 100%;
  min-width: 100%;
  overflow: visible;
}

.header {
  height: 9vh;
  text-align: center;
}

.header .image-netsPay-logo {
  width: 35vw;
  margin-top: 15px;
}

.header .image-add-icon {
  position: absolute;
  width: 7vw;
  right: 17.5px;
  margin-top: 17.5px;
}

.body {
  height: 70vh;
}

.body .cards {
  color: darkblue;
  margin-left: 4vw;
}

.body .image-ocbc-card {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 80vw;
}

.body .image-nfc {
  position: absolute;
  top: 45vh;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 40vw;
}

.body .camera-window {
  width: 100vw;
  height: 82.5vh;
  object-fit: fill;
}

.footer {
  position: relative;
  height: 10vh;
  width: 100vw;
}

.footer .image-footer-bar {
  width: 100%;
}

.container-button {
  position: absolute;
  text-align: center;
  top: 85vh;
  width: 100vw;
  opacity: 0;
  z-index: 50;
}

.container-button .button-invisible {
  width: 30vw;
  height: 12vh;
}

.background-fade {
  position: absolute;
  top: -5vh;
  height: 100%;
  width: 100%;
  background-color: #333;
  opacity: 0.5;
  z-index: 5;
}

.transaction-details {
  position: absolute;
  background-color: #fff;
  text-align: center;
  bottom: -70%;
  width: 100%;
  height: 70%;
  z-index: 10;
}

.image-merchant {
  margin-top: 2.5%;
  width: 20vw;
}
/* lower+ disbaledefault */
.text-merchant {
}

.text-title {
}

.text-amount {
}